/* Lehrerbeurteilung Styles */
@font-face {
    font-family: 'droid_sans_monoregular';
    src: url('http://localhost:8012/LehrerbewertungsWebseite/css/fonts/droidsansmono-webfont.woff2') format('woff2'),
         url('http://localhost:8012/LehrerbewertungsWebseite/css/fonts/droidsansmono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: calibri;
	font-size: large;
}

.button:hover
{
	cursor: pointer;
	-moz-user-select: none; /* Firefox */
}

.header
{
	background-color:#191f51;
	color:white;
	padding:5px;
	width:93%;
}

.title
{
	background-color:#191f51;
	color:white;
	padding:2px;	
}

.message
{
	color:green;
	text-align:center;
	width:500px;
}

#main_container
{
	width: 100%;
	height: 100%;
}

#container_pictorius_logo_header
{
	top:2px;
	left:2px;
	border-collapse: collapse;
	border-style: none;
	position: fixed;
}

#container_vertical_menu
{
	position: fixed;
	
}

#container_pictorius_foto
{
	top:2px;
	left:2px;
	position: fixed;
	z-index: -5;
	min-width: 100%;
}

#container_pictorius_foto img
{
    min-width: 100%;
}

#horizontal_menu_button_teachers
{
	position:absolute;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}

#horizontal_menu_button_students
{
	position:absolute;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;

}

svg {
    stroke: transparent;
    stroke-width: 0px;
}

#container_horizontal_menu
{
	position: relative;
	color: white;
}

#students_questionnaire_container
{
	overflow-y: hidden;
	position: absolute;
	/*display: inline-block;*/
	background-color: white;
	z-index: 1;
}

.tempTdQuestionnaire
{
	/*
	border-color: "#ffffff";
	border-width: 2px;
	border-top: dashed;
	border-right: none;
	border-left: none;
	border-bottom: none;*/
}

.area_border
{
	margin:20px;
}

.area
{
	overflow: auto;
	background-color: white;
}

#login_area_teacher
{
	margin: 5px;
}

.input_teacher
{
	width: 200px;
}

#login_area_student
{
	margin: 5px;
}


.input_student
{
	font-family: calibri;
	font-size: large;
	text-align: center;
	width: 18px;
	border-style: none;
	background-color: #ededed;
	height: 23px;
	width: 23px;
}

.verticalMenuButton
{
	color: white;
	height: 8%;
	text-align: left;
	margin: auto;
}

#add_question_dropdown
{
	font-family: Consolas, monospace;
	font-style: bold;
}

#container_pages
{
	position: fixed;
}

#Uebersicht_page
{
	visibility: visible;
	/*overflow-y:auto;'/
}

#Fragebogen_erstellen_page
{
	/*overflow-y:auto;*/
}

#add_question_dropdown
{
	overflow: scroll;
	overflow-x: hidden;
	height: 200px;
	width: 93%;
	border-style: solid;
	border-width: 1px;
	margin:5px;
}

#create_questionnaire_area
{
	overflow: scroll;
	overflow-x: hidden;
	height: 475px;
	width: 93%;
	border-style: solid;
	border-width: 1px;
	margin:5px;
}

#questionnaire_select_area
{
	overflow: scroll;
	overflow-x: hidden;
	height: 700px;
	width: 93%;
	border-style: solid;
	border-width: 1px;
	margin:5px;
}

#Fragebogen_erstellen_page
{
	/*visibility: hidden;
	overflow-y:auto*/
}

#Fragen_verwalten_page
{
	visibility: hidden;
	overflow-y:auto;
}

#Klassen_verwalten_page
{
	visibility: hidden;
	overflow-y:auto;
}

#input_question_text
{
	width:600px;
}

#container_horizontal_menu table
{
	table-layout: fixed;
	font-weight: bold;
	border: none;
	width: 100%;
	height:100%;
}


.questionSelectElement
{
	user-select: none;
}

.menuTable
{
	width: 100%;
}

.show_codes_button:hover{
	color: lightgreen;
}


